.form {
  width: 100%;
  height: 100vh;
  background: rgb(51, 51, 51);
  display: flex;
  margin: auto;
  font-family: LetoSans;

  &__input {
    position: relative;
    margin-top: 16px;

    .ng-invalid.ng-touched {
      border: 2px solid #F8478D;
    }
    .wrong {
      position: absolute;
      top: 20px;
      right: 35px;
    }
    .ng-valid.ng-touched {
      border: 2px solid #13C98A;
    }

    .correct {
      position: absolute;
      top: 20px;
      right: 35px;
    }
  }

  &__title {
    margin: 0;
    margin-top: 24px;
    margin-left: 22px;
  }

  &__content {
    width: 384px;
    height: 490px;

    margin: auto;

    background: #FFFFFF;

    display: flex;
    flex-direction: column;
  }

  &__name {
    width: 336px;
    height: 56px;
    margin-left: 22px;
    margin-top: 16px;

    padding-left: 16px;
    padding-right: 35px;

    outline: none;
    border: 2px solid #EDE8F7;
    box-sizing: border-box;
    border-radius: 6px;
  }

  &__name::placeholder {
    color: #9B99AA;
  }

  &__name:hover {
    border: 2px solid #C0BAD5;
  }

  &__area:focus {
    border: 2px solid #C0BAD5;
  }

  &__email {
    width: 336px;
    height: 56px;
    margin-left: 22px;
    margin-top: 16px;

    padding-left: 16px;
    padding-right: 35px;

    outline: none;
    border: 2px solid #EDE8F7;
    box-sizing: border-box;
    border-radius: 6px;
  }

  &__email::placeholder {
    color: #9B99AA;
  }

  &__email:hover {
    border: 2px solid #C0BAD5;
  }

  &__email:focus {
    border: 2px solid #C0BAD5;
  }

  &__selectDrop {
    position: relative;

    .arrow {
      position: absolute;
      top: 42px;
      right: 40px;
    }
  }

  &__select {
    width: 336px;
    height: 56px;
    margin-left: 22px;
    margin-top: 16px;
    background: #FFFFFF;

    position: relative;

    outline: none;
    cursor: pointer;

    border: 2px solid #EDE8F7;
    box-sizing: border-box;
    border-radius: 6px;
  }

  &__select:hover {
    border: 2px solid #C0BAD5;
  }

  &__select:focus {
    border: 2px solid #C0BAD5;
    .arrow {
      transform: rotate(180deg);
    }
  }

  &__area {
    width: 336px;
    height: 99px;

    outline: none;
    border: 2px solid #EDE8F7;
    box-sizing: border-box;
    border-radius: 6px;

    resize: none;
  }

  &__area::placeholder {
    color: #9B99AA;
  }

  &__area:hover {
    border: 2px solid #C0BAD5;
  }

  &__area:focus {
    border: 2px solid #C0BAD5;
  }

  &__buttons {
    width: 336px;
    display: flex;
    justify-content: space-between;
    margin-left: 22px;
    margin-top: 24px;
    margin-bottom: 32px;
  }

  &__reset {
    width: 128px;
    height: 48px;

    border: none;
    border-radius: 44px;

    outline: none;
    cursor: pointer;

    background: #BDBDBD;
    color: #FFFFFF;
  }

  &__reset:hover {
    background: #C2C2C2;
  }

  &__submit {
    width: 192px;
    height: 48px;

    border: none;
    border-radius: 44px;

    outline: none;
    cursor: pointer;

    background: #13C98A;
    color: #FFFFFF;
  }

  &__submit:hover {
    border: 2px solid #2E09B6;
  }

}

::ng-deep mat-form-field {
  width: 331px;
  height: 56px;
  border: 2px solid #EDE8F7;
  margin-left: 22px;
  border-radius: 6px;

}

::ng-deep mat-form-field:hover {
  border: 2px solid #C0BAD5;
}

::ng-deep mat-form-field .mat-form-element:focus {
  border: 2px solid #C0BAD5;
}

::ng-deep .mat-form-field-wrapper {
  padding-left: 16px;
}

::ng-deep .mat-form-field-autofill-control {
  border: none !important;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep mat-form-field::placeholder {
  color: #9B99AA;
}

::ng-deep .form__area1 .mat-form-field {
  height: 99px;
  margin-top: 16px;

  textarea {
    width: 336px;
    height: 75px;
    resize: none;
  }
}

::ng-deep .mat-select-panel {

}
